<div class="jumbotron text-center main-header top-content" xmlns="http://www.w3.org/1999/html">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text">
          <h1><strong><a href="/">MUSCLOUD</a></strong></h1>
          <div class="description">
            <p>
              <h1>Welcome on Muscloud RubyDevTeamProject</h1>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Connect on Muscloud</h3>
      <p> Discover, stream, and share a constantly expanding mix of music from emerging and major artists around the world.</p>
    </div>
    <div class="col-sm-4">
      <h3>Calling all creators</h3>
      <p>Get on SoundCloud to connect with fans, share your sounds, and grow your audience. What are you waiting for?</p>
    </div>
    <div class="col-sm-4">
      <h3>Upload your tracks</h3>
      <p>Enjoy 3 hours of space for your uploads, enough for multiple albums.</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
<div class="middle">
  <div class="container middle-section" style="height: 500px; margin-top: 50px; margin-bottom: 50px">
    <div class="row">
      <div class="col-sm-12">
        <div class="description-middle">
          <h1>Connect on <strong><a href="/">MusCloud</a></strong></h1>
          <p>Discover, stream, and share a constantly expanding mix of music from emerging and major artists around the world.</p>
          <button class="btn-link-2"><strong><%= link_to 'Sign up for free', new_user_registration_path %></strong></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>